.container2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap:10px;
}

.container2 input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}

.container2 button {
    min-width: 120px;
    padding: 5px;
}